@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source "../views";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';


/** daisyUI */
@plugin "daisyui" {
    themes: light --default, pblight, dark --prefersdark, pbdark
}

/* --color-primary-content: oklch(33.387% 0.04 162.24); */

@plugin "daisyui/theme" {
    name: "pblight";
    default: false;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(92% 0 0);
    --color-base-300: oklch(87% 0 0);
    --color-base-content: oklch(20% 0 0);
    --color-primary: oklch(98% 0.018 155.826);
    --color-primary-content: oklch(45% 0.124 130.933);
    --color-secondary: oklch(98% 0.026 102.212);
    --color-secondary-content: oklch(55% 0.135 66.442);
    --color-accent: oklch(97% 0.014 254.604);
    --color-accent-content: oklch(48% 0.243 264.376);
    --color-neutral: oklch(97% 0.001 106.424);
    --color-neutral-content: oklch(37% 0.01 67.558);
    --color-info: oklch(90% 0.058 230.902);
    --color-info-content: oklch(45% 0.24 277.023);
    --color-success: oklch(90% 0.093 164.15);
    --color-success-content: oklch(50% 0.118 165.612);
    --color-warning: oklch(90% 0.076 70.697);
    --color-warning-content: oklch(41% 0.112 45.904);
    --color-error: oklch(88% 0.062 18.334);
    --color-error-content: oklch(44% 0.177 26.899);
    --radius-selector: 1rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}


@plugin "daisyui/theme" {
    name: "pbdark";
    default: false;
    prefersdark: false;
    color-scheme: "dark";
    --color-base-100: oklch(44% 0.043 257.281);
    --color-base-200: oklch(20% 0.042 265.755);
    --color-base-300: oklch(0% 0 0);
    --color-base-content: oklch(100% 0 0);
    --color-primary: oklch(58% 0.233 277.117);
    --color-primary-content: oklch(96% 0.018 272.314);
    --color-secondary: oklch(65% 0.241 354.308);
    --color-secondary-content: oklch(94% 0.028 342.258);
    --color-accent: oklch(77% 0.152 181.912);
    --color-accent-content: oklch(38% 0.063 188.416);
    --color-neutral: oklch(96% 0.001 286.375);
    --color-neutral-content: oklch(55% 0.016 285.938);
    --color-info: oklch(74% 0.16 232.661);
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: oklch(76% 0.177 163.223);
    --color-success-content: oklch(37% 0.077 168.94);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(41% 0.112 45.904);
    --color-error: oklch(71% 0.194 13.428);
    --color-error-content: oklch(27% 0.105 12.094);
    --radius-selector: 1rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}



/* maryUI */
@source "../../vendor/robsontenorio/mary/src/View/Components/**/*.php";

/* Theme toggle */
@custom-variant dark (&:where(.dark, .dark *));

/**
* Mary sidebar activate-by-route
*/
.mary-active-menu {
    @apply bg-neutral text-neutral-content
}


/**
* Mary Table paginator
*/

.mary-table-pagination {
    button, span {
        @apply text-xs border-none
    }

    button {
        @apply cursor-pointer
    }

    span[aria-current="page"] > span {
        @apply bg-neutral text-neutral-content
    }

    button, span[aria-current="page"] > span, span[aria-disabled="true"] span {
        @apply py-1 px-2
    }
}

/**
* Livewire Sortable styles
*/
.draggable-mirror {
    background-color: #fff;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
